{erl_opts, [debug_info]}.

{deps,
 [
  erllambda
 ]}.

%% Build a release from this project
{relx,
 [
  {release, { {{name}}, semver }, [{{name}}, erllambda]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  %% {dev_mode, true},
  {include_src, false},

  {extended_start_script, true}]
}.

{plugins,
 [
  covertool,
  rebar3_erllambda
 ]}.

{provider_hooks,
 [
  {post, [{release, {erllambda, release}}]}
 ]}.

%% Profiles
{profiles,
 [
  {test,
   [
    {erl_opts, [export_all]},
    {deps, [meck]}
   ]},
  {prod,
   [
    {relx, 
     [
      {include_erts, true},
      {dev_mode, false}
     ]}
   ]}
 ]}.
