{erl_opts, [debug_info]}.

{deps,
 [
  {erllambda, ".*",
   {git, "https://github.com/alertlogic/erllambda.git",
    {branch, "master"}}}
 ]}.

%% Build a release from this project
{relx,
 [
  {release, { {{name}}, semver }, [{{name}}, erllambda]},

  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  %% {dev_mode, true},
  {include_src, false},

  {extended_start_script, true}]
}.

{plugins,
 [
  {covertool,
   {git, "https://github.com/covertool/covertool.git",
    {branch, master}}},
  {rebar3_erllambda,
   {git, "https://github.com/alertlogic/rebar3_erllambda.git",
    {branch, master}}}
 ]}.

{provider_hooks,
 [
  {post, [{release, {erllambda, release}}]}
 ]}.

%% Profiles
{profiles,
 [
  {test,
   [
    {erl_opts, [export_all]},
    {deps, [meck]}
   ]},
  {prod,
   [
    {relx, 
     [
      {include_erts, true},
      {dev_mode, false}
     ]}
   ]}
 ]}.
